# Dependencies
node_modules/

# Environment variables and secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Uploads & Storage
uploads/
storage/

# Build outputs
dist/
release/

# OS metadata
.DS_Store
Thumbs.db
